.Encabezado 
{
	width:100%;
	height:12%;
	background-image:url(Images/metal.png);
	background-size: cover;
	float: left;
}

.Circulo
{
width: 100%; border-radius: 50%;
}
.Marco
{
box-shadow:inset 0 0 0 5px white;
}
.Max
{
width:100%;
height:100%;
}
.Centro
{
text-align: center;
}
.Izq
{
text-align: left;
}
.CentWh
{
text-align: center;
color: white;
}
.Foto 
{
	width:30%;
	height:60%;
	background-image:url(Images/fond1.png);
	background-size:cover;
	float:left;
}
.Foto2 
{
width: 25% ; 
height:60% ;
background-image: url(Images/fond2.png);
background-size: cover;
float: left;
}
.Info 
{
	width:45%;
	height:60%;
	background-image:url(Images/ciudad.png);
	background-size:cover;
	box-shadow:inset 0 0 0 5px white;
	float:right;
}
.Calif
{
	text-align:center;
	width: 35%;
	height:40%;
	background-image:url(Images/calif.png);
	background-size: cover;
	box-shadow:inset 0 0 0 5px white;
	float: right;
}
.Musc
{
	width:17%;
	height:10%;
	background-color:red;
	box-shadow:inset 0 0 0 5px white;
	float:right;"
}
.Lib
{
	width:16%;
	height:10%;
	background-color:yellow;
	box-shadow:inset 0 0 0 5px white;
	float:right;"
}
.Pel
{
	width:16%;
	height:10%;
	background-color:green;
	box-shadow:inset 0 0 0 5px white;
	float:right;
}
.Dep
{
	width:16%;
	height:10%;
	background-color:blue;
	box-shadow:inset 0 0 0 5px white;
	float:right;}
.Imgus1
{
	width:17%;
	height:30%;
	float:right;
}
.Imgus2
{
	width:16%;
	height:30%;
	float:right;
}
.Pie
{
	width:100%;
	height:25%;
	background-image:url(Images/contac.png);
	float:left;
}
.ftf
{
	width:20%;
	height:30%;
	float:left;
}
